@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700,500|Inter:400");

@import "variables";
@import "mixins";



body {
    width: 1600px;
    height: 3880px;
    margin: 0 auto;
    cursor: default;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  cursor: pointer;
  text-decoration: none;
  color: $tuna;
}

// Header start
.warning {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 1600px;
    height: 40px;
    background: $shark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a:active, a:hover, a:focus {
        color: $pizazz;
    }
}

.warning_block-1 {
    display: flex;
    align-items: center;
    margin: 0px 0px 0 495px;
}

#alert_svg {
    width: 24px;
    height: 24px;
}

#you-are-not-protected {
    @include roboto-normal-pizazz-12px;
    margin: 0 0px 0 4px;
}

.warning_block-2 {
    display: flex;
    align-items: center;
    @include roboto-normal-oslo-gray-12px;
}

.warning_block-3 {
    display: flex;
    align-items: center;
    @include roboto-normal-oslo-gray-12px;
}

.warning_block-4 {
    display: flex;
    align-items: center;
    @include roboto-normal-white-12px;
    margin: 0px 421px 0 0;
    cursor: pointer;
}

.warning_block-4:hover {
    @include roboto-normal-pizazz-12px;
    font-weight: 400;
}

.warning_block-5 {
    display: flex;
    align-items: center;
    margin: 0 15px 0px 0px;
}



#close_icon {
    width: 14px;
    height: 14px;
}

#close_border {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close_border:hover {
    cursor: pointer;
}

#close_icon:hover {
    width: 20px;
    height: 20px;
}

#close_border:active {
    .warning{
        visibility: hidden;
    }
}

// Header end

// Nav-menu start

.navigation-block {
    display: flex;
    justify-content: start;
    align-items: 6px;
    height: 120px;
    margin-top: 40px;
    align-items: center;
    width: 100%;
}

.nav_line {
    width: 97px;
    height: 3px;
    background: $apple;
    visibility: hidden;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 500px;
    margin: 4px 0 0 244px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323642;
}

.nav_block-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.nav-btn_wrapper {
    display: flex;
    justify-items: space-between;
    align-items: center;
    margin: 0 -10px 0 194px;
}

.nav-sandwich_icon {
    width: 24px;
    height: 16px;
    display: none;
}

.nav-sandwich_bar {
    width: 24px;
    margin: 200px 0 0 0;
    display: flex;
    flex-direction: column;
}

.nav-sandwich_menu {
    visibility: hidden;
} 


.nav-sandwich_line {
    width: 24px;
    height: 2px;
    background: $shark;
}


.nav-company_name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0px 0 183px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.nav-company_name:hover {
    text-decoration: underline;
}


.nav-why_us {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    margin: 57px 0 0 0;
}

.nav-why_us-submenu {
    display: flex;
    flex-direction: column;
    align-items: start;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background: white;
    cursor: pointer;
}


.nav-why_us:hover, .nav-why_us:active, .nav-why_us:focus {
    .nav_line{visibility: visible};
    .nav-why_us-submenu {
        visibility: visible;
        opacity: 1;
    }
}

.nav-vpn_apps {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    margin: 2px 0 0 9px;
}

.nav-vpn_apps:hover, .nav-vpn_apps:active, .nav-vpn_apps:focus {
    .nav_line{visibility: visible};
  
}

.nav-support {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    margin: 3px 0 0 9px;
}

.nav-support:hover, .nav-support:active, .nav-support:focus {
    .nav_line{visibility: visible};
  
}

.nav-resources {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    margin: 3px 0 0 21px;
    letter-spacing: 0.7px;
}

.nav-resources:hover, .nav-resources:active, .nav-resources:focus {
    .nav_line{visibility: visible};
  
}

.nav-list_icon {
    width: 10px;
    height: 5px;
    margin: -4px 0 0 9px;
}



.nav-log_in {
    border: 1px solid $apple;
    border-radius: 30px;
    width: 90px;
    height: 40px;
    @include roboto-medium-apple-14px;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 19px 0 0px;
    cursor: pointer;
}

.nav-log_in:hover {
    background: $apple;
    color: white;
}

.nav-get_started {
    background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
    border-radius: 30px;
    width: 160px;
    height: 40px;
    @include roboto-medium-white-14px;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 61px 0 -11px;
    cursor: pointer;
}

.nav-get_started:hover {
    background: linear-gradient(0deg, #5DDF5A 0%, #4CB649 100%);
    color: white;
} 

// Header end

// Article start

// Featured_article start

article {
    width: 1200px;
    margin: 0 auto;
}

.featured_article {
    width: 1200px;
    height: 400px;
    background: #FFFFFF;
    border: 1px solid #D7D8D9;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
}

.feature_article-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 470px;
    margin: 0 0px 0 60px;
}

.featured_article-img {
    width: 600px;
    height: 400px;
}

.feature_article-post {
    @include roboto-light-shark-24px;
    line-height: 34px;
    margin: 35px 0 0 0;
}

.feature_article-data_author-wrapper {
    display: flex;
    flex-direction: row;
    margin: 41px 0 -46px 0;
}

.feature_article-author {
    @include roboto-medium-tuna-14px;
    margin:0 10px 0 0;
}

.feature_article-data {
    @include roboto-normal-oslo-gray-14px;
}

.feature_article-title {
    @include roboto-normal-apple-12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 15px 0 -16px 0;
}

.feature_artile-comment_counter-wrapper {
    margin: -20px 0px 19px 5px;
    display: flex;

}


.feature_article-comment {
    background-image: url(../img/icons/comment.svg);
    display:block;
    width: 12px;
    height: 12px;
}

.feature_article-counter_comments {
    @include roboto-normal-oslo-gray-14px;
    margin: 0px 0px 0px 7px;
}

// Featured_article end


// Tags_block start

.tags_block {
    width: 1200px;
    height: 60px;
    margin: 30px 0 0 0;
    background: #F7F7F7;
    border-radius: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    @include roboto-normal-apple-14px;
}

.tags {
    @include roboto-normal-tuna-14px;
    margin: 0 0px 0 33px;
    font-weight: 500;
    letter-spacing: 1px;
}

.tags-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 667px;
    justify-content: space-between;
    margin: 0 0 0 43px;
    cursor: pointer;
}

.bitcoin {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.bittorrent {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.irc {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.news {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.privacy {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.programming {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.security {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.team_contact-wrapper {
    margin: 0 0 0 235px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 147px;



}

.team {
    @include roboto-normal-tuna-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.team:hover, .team:focus {
    color: $apple;
}
.contact {
    @include roboto-normal-tuna-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.contact:hover, .contact:focus {
    color: $apple;
}

// Tags_block end

.search_recent_posts-wrapper {
    display: grid;
    grid-template: 1fr/66.7% 0.1% 34.2%;
}

.search_recent_posts-line {
    height: 1650px;
    width: 1px;
    background: #EBECED;
    grid-column-start: 2;
    grid-row-start: 1;
    margin: 40px 0 0 0;
}

// Search_block start

.search_block {
    background: #FFFFFF;
    border: 1px solid #D7D8D9;
    border-radius: 4px;
    margin: 0 auto;
    width: 339px;
    height: 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-column-start: 3;
    grid-row-start:1;
    margin: 39px 0 0 58px;

}

input {
    outline: none;
    border: none;
}

.search_icon {
    width: 19px;
    height: 19px;
    margin: 0 0 0 20px;

}


.search_input {
    outline: 0 !important;
    border: none;
    width: 103px;
    height: 28px;
    color: #22252e;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    margin: 2px 0px 0 19px;
}


// Search_block end

// Recent_posts start

.recent_posts-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 1;

}

.recent_posts-title {
    @include roboto-light-shark-32px;
    margin: 44px 0 0 0;
}

.recent_post-wrapper {
    display: flex;
    flex-direction: row;
    width: 780px;
    margin: 0 auto;
    margin: 47px 0 0 0;
    height: 184px;
}

.recent_post-wrapper2 {
    display: flex;
    flex-direction: column;
    width: 58%;
    margin: 0 auto;
    margin: 0px 0px 0 41px;
}

.recent_post1-wrapper {
    margin: 11px 0 0 0;
}


// Post 1 start

.recent_post1-data {
    margin: 0px 0 0px 4px;
}

.recent_post1-title {
    margin:0 0 0 0;
    margin: 10px 0 0 0;
    line-height: 16px;
}

.recent_post1-comment_counter-wrapper {
    margin: 18px 0 0 13px;
}

.recent_post-image {
    width: 280px;
    height: 180px;
}

.recent_post1-post {
    margin: 0 0 0 0;
    margin: 0px 0 0 0;
}

.recent_post-comment_img {
    margin: 0 5px 0 -8px;
}

.recent_post-line{
    width: 740px;
    height: 1px;
    background: #EBECED;
    margin: 0 auto;
    margin: 55px 0 0 0;
}

.recent_post1-line {
    margin: 42px 0 0 0;
}


// Post 1 end

// Post 2 start

.recent_post2-wrapper {
    height: 169px;
    margin: 30px 0 0 0;
}

.recent_post2-wrapper2 {
    margin: 0px 0 0 41px;
}

.recent_post2-image {
    margin: 0px 0 0 0;
}

.recent_post2-post {
    margin: 0 0 0 0;
}

.recent_post2-data {
    margin: 0 0 0 0;
}

.recent_post2-data_author-wrapper {
    margin: 16px 0 0px 0;
}

.recent_post2-author {
    margin: 0px 12px 0px 0px;
    font-weight: 400;
}

.recent_post2-title {
    margin: 11px 0px 0 -1px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;    
    letter-spacing: 0.8px;
}

.recent_post2-comment_counter-wrapper {
    margin: 5px 0 0 12px;
}

.recent_post2-counter_comments {
    margin: 7px 0 7px 6px;
}

.recent_post2-line {
    margin: 42px 0 0 0;
}

// Post 2 end

// Post 3 start


.recent_post3-wrapper {
    margin: 30px 0 0 0;
    height: 202px;
}

.recent_post3-image {
    margin: 0px 0 0 0;
}

.recent_post3-wrapper2 {
    margin: -49px 0px 0px 41px;

}

.recent_post3-post {
    margin: 18px 0 0 0;
}

.recent_post3-data_author-wrapper {
    margin: 13px 0 0px 0px;
}

.recent_post3-author {
    margin: 0px 15px 0px 0px;
    font-weight: 400;
    letter-spacing: .5px;
}

.recent_post3-title {
    margin: 13px 0 0 0;
    font-weight: 500;
}

.recent_post3-comment_counter-wrapper {
    margin: 6px 0 0 14px;
}

.recent_post3-counter_comments {
    margin: 9px 0 7px 6px;
}

.recent_post3-line {
    margin: 7px 0 0 0;
}


// Post 3 end

// Post 4 start

.recent_post4-wrapper {
    margin: 40px 0 7px 0;
}

.recent_post4-image {
    margin: 0px 0 0 0;
}

.recent_post4-wrapper2 {
    margin: -49px 0px 0px 41px;

}

.recent_post4-post {
    margin: 8px 0 0 0;
}

.recent_post4-data_author-wrapper {
    margin: 12px 0 0px 0;
}

.recent_post4-author {
    margin: 0px 16px 0px 0px;
    font-weight: 400;
}

.recent_post4-title {
    margin: 13px 0 0 0;
    font-weight: 500;
    letter-spacing: 0.45px;
}

.recent_post4-counter_comments {
    margin: 14px 0 0px 7px;
}

.recent_post4-line {
    margin: 49px 0 0 0;
}

.recent_post4-counter_comments {
    margin: 1px 0 0 7px;
}

.recent_post4-line {
    margin: 51px 0 0 0;
}

// Post 4 end

// Post 5 start

.recent_post5-wrapper {
    margin: 27px 0px 15px -1px;;
}

.recent_post5-image {
    margin: 0px 0 0 0;
}

.recent_post5-wrapper2 {
    margin: -39px 0px 0px 41px;

}

.recent_post5-post {
    margin: 8px 0 0 0;
}

.recent_post5-data_author-wrapper {
    margin: 12px 0 0px 0;
}

.recent_post5-author {
    margin: 0px 16px 0px 0px;
    font-weight: 400;
}

.recent_post5-title {
    margin: 13px 0 0 0;
    font-weight: 500;
}

.recent_post5-counter_comments {
    margin: 14px 0 0px 7px;
}

.recent_post5-line {
    margin: 7px 0 0 0;
}

// Post 5 end

// Post 6 start

.recent_post6-wrapper {
    margin: 36px 0px 15px -1px;
}

// Post 6 end

// Button Older_Post

.older_posts-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0px 0 259px;
    @include roboto-medium-apple-14px;
    text-transform: uppercase;
    border: 1px solid #4CB649;
    border-radius: 30px;
    height: 40px;
    width: 260px;
    letter-spacing: 0.8px;
}

.older_posts-button:hover, .older_posts-button:focus {
    background: $apple;
    color: white;
}


// Side_nav_blog start

.side_nav_blog-block {
    grid-column-start: 3;
    grid-row-start: 1;
    margin: 130px 0 0 59px;
    display: flex;
    flex-direction: column;
}

.side_nav-header_announcements-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0 0 0px;
}

.announcements-side_nav_header {
    @include roboto-light-shark-24px;
    margin: -4px 0 0 20px;
}

.announcements-ul {
    @include roboto-normal-tuna-14px;
    display: flex;
    line-height: 22px;
    justify-content: space-between;
    margin: 21px 0px 0 6px;
    display: flex;
    flex-direction: column;
    height: 195px;
    width: 307px;
    li {
        display: flex;
        flex-direction: row;
    }
    li>div {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #4CB649;
        align-items: center;
        justify-content: center;
        margin: 0 5px 0 -6px;
    }
}

.announcements-line {
    height: 1px;
    width: 340px;
    left: 0px;
    background: #EBECED;
    margin: 28px 0 0 0;
}

.side_nav_popular_post {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 8px;
}

.popular_post-side_nav_header {
    margin: 0 0 0 0;
    margin: -2px 0 0 30px;
}

.popular_post-ul {
    margin: 31px 0 0 -1px;
    height: 263px;
    width: 326px;
}

.popular_post-line {
    margin: 9px 0 0 0;
}

.add_sidebar {
    margin: 53px 0 0 0;
    width: 340px;
}

.tag_cloud {
    margin: 57px 0 0 0;
    @include roboto-light-shark-24px;

}

.tag_cloud-img {
    margin: 18px 39px 0px -12px;
}

// Side_nav_blog end

// Footer start

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Discount_block start

.discount_block {
    height: 800px;
    width: 1600px;
    background: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
    margin: 72px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign_up_today {
    margin: 107px 0 0 0;
    @include roboto-light-white-48px;
    letter-spacing: -0.5px;
    display:flex;
}

.pricing_block {
    position: relative;
    top: 69px;
    /* margin: 45px 0 0 0; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    /* align-items: center; */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 1180px;
}

// Pricing_block1 start

.pricing_block1 {
    margin: 0px 0px 0 1px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 340px;
    width: 380px;
    background: #FFFFFF;
    border: 1px solid #EBECED;
    border-radius: 6px;

}

.pricing_block1:hover {
    margin: -23px -6px 0 1px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 380px;
    width: 380px;
    background: #FFFFFF;
    border: 4px solid #4CB649;
    border-radius: 4px;


}

.pricing_block1-period {
    @include roboto-medium-tuna-14px;
    letter-spacing: 0.8px;
    margin: 51px 7px 0 0px;
}

.pricing_block1-smallline {
    height: 2px;
    width: 24px;
    background: #4CB649;
    margin: 13px -2px 0 0;

}



.price_block-pricing_block1 {
    margin: 16px 0 0 0;
    display: flex;
    align-items: center;
}

.dollar1 {
    margin: -7px 12px 0 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #22252E;
}

.price-pricing_block1 {
    margin: 0 6px 0 -6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -1.5px;
    color: #22252E;
}

.mo1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #22252E;
    margin: 34px 0 0 0;
}

.pricing_block1-line {
    background: #EBECED;
    height: 1px;
    width: 200px;
    margin: 18px 0 0 0;
}

.pricing_block1-discount-wrapper {
    @include roboto-medium-tuna-14px;
    margin: 32px -1px 0 0;
    font-weight: 400px;
}

.pricing_block1-sign_up {
    height: 40px;
    width: 205px;
    border-radius: 30px;
    border: 1px solid #4CB649;
    display: flex;
    align-items: center;
    justify-content: center;
    @include roboto-medium-apple-14px;
    letter-spacing: 0.8px;
    margin: 32px -2px 0 0;

}

.pricing_block1-sign_up:hover, .pricing_block1-sign_up:focus {
    background: $apple;
    color: white;
}

// Pricing_block1 end

// Pricing block2 start

.pricing_block2 {
    margin: 0px 0 0 3px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 340px;
    width: 380px;
    background: #FFFFFF;
    border: 1px solid #EBECED;
    border-radius: 6px;
}

.pricing_block2:hover {
    margin: -23px 0 0 3px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 380px;
    width: 380px;
    background: #FFFFFF;
    border: 4px solid #4CB649;
    border-radius: 4px;
}

.pricing_block2-line {
    background: #EBECED;
    height: 1px;
    width: 200px;
    margin: 18px 0 0 0;
}


.pricing_block2-period {
    @include roboto-bold-tuna-14px;
    letter-spacing: 0.8px;
    margin: 61px -2px 0 0px;
    text-transform: uppercase;
}

.pricing_block2-smallline {
    height: 2px;
    width: 24px;
    background: #4CB649;
    margin: 16px 0px 0 0;

}



.price_block-pricing_block2 {
    margin: 13px 0 0 0;
    display: flex;
    align-items: center;
}

.dollar2 {
    margin: -7px 12px 0 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #22252E;
}

.price-pricing_block2 {
    margin: 0 6px 0 -6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -1.5px;
    color: #22252E;
}

.mo2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #22252E;
    margin: 34px 0 0 0;
}

.pricing_block1-line {
    background: #EBECED;
    height: 1px;
    width: 200px;
    margin: 18px 0 0 0;
}

.pricing_block2-discount-wrapper {
    @include roboto-medium-tuna-14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 18px -3px 0 0;
    font-weight: 400px;
}

.pricing_block2-discount_cost {
    margin: 0px 7px 0 -5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: line-through;
    color: #F24458;
}

.pricing_block2-discount_cost_per_year {
    margin: 0 0 0 0;
    font-weight: 400;
    
}

.pricing_block2-discount_save {
    margin: 9px 0px 0 0;
    @include roboto-bold-tuna-14px;
}


.pricing_block2-sign_up {
    height: 40px;
    width: 205px;
    border-radius: 30px;
    border: 1px solid #4CB649;
    display: flex;
    align-items: center;
    justify-content: center;
    @include roboto-medium-apple-14px;
    letter-spacing: 0.8px;
    margin: 27px 0px 0 0;
    border-radius: 30px;
}


.pricing_block2-sign_up:hover, .pricing_block2-sign_up:focus {
    background: $apple;
    color: white;
}

// Pricing block2 end

// Pricing block3 start

.pricing_block3 {
    margin: 0px -3px 0 3px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 340px;
    width: 380px;
    background: #FFFFFF;
    border: 1px solid #EBECED;
    border-radius: 6px;
}

.pricing_block3:hover {
    margin: -23px -6px 0 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 380px;
    width: 380px;
    background: #FFFFFF;
    border: 4px solid #4CB649;
    border-radius: 4px;
}



.pricing_block3-period {
    @include roboto-medium-tuna-14px;
    letter-spacing: 0.8px;
    margin: 51px -1px 0 0px;
}

.pricing_block3-smallline {
    height: 2px;
    width: 24px;
    background: #4CB649;
    margin: 13px -2px 0 0;

}



.price_block-pricing_block3 {
    margin: 16px 0 0 0;
    display: flex;
    align-items: center;
}

.dollar3 {
    margin: -9px 12px 0 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #22252E;
}

.price-pricing_block3 {
    margin: 0 6px 0 -6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -1.5px;
    color: #22252E;
}

.mo3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #22252E;
    margin: 34px 0 0 0;
}

.pricing_block3-line {
    background: #EBECED;
    height: 1px;
    width: 200px;
    margin: 18px 0 0 0;
}

.pricing_block3-discount-wrapper {
    @include roboto-medium-tuna-14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 18px -1px 0 0;
    font-weight: 400px;
}

.pricing_block3-discount_cost {
    margin: 0px 13px 0 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: line-through;
    color: #F24458;
}

.pricing_block3-discount_cost_per_year {
    margin: 0 0 0 0;
    font-weight: 400;
    
}

.pricing_block3-discount_save {
    margin: 9px 0px 0 0;
    @include roboto-bold-tuna-14px;
}



.pricing_block3-sign_up {
    height: 40px;
    width: 205px;
    border-radius: 30px;
    border: 1px solid #4CB649;
    display: flex;
    align-items: center;
    justify-content: center;
    @include roboto-medium-apple-14px;
    letter-spacing: 0.8px;
    margin: 17px -2px 0 0;

}

.pricing_block3-sign_up:hover, .pricing_block3-sign_up:focus {
    background: $apple;
    color: white;
}

// Pricing block3 end

// Ways_to_pay_block start

.ways_to_pay_block {
    position: absolute;
    top: 3076px;
    z-index: 10;
    margin: 0px -7px 0 0;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: start;
    width: 913px;
}

.ways_to_pay {
    margin: 0px -18px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: start;
    width: 920px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #FFFFFF;
}


#visa {
    margin: -2px 0px 0 31px;
}

#visa:hover, #mastercard:hover, #pay_pal:hover, #american_express:hover, #bitcoin:hover, #okpay:hover, #amazon_pay:hover {
    cursor: pointer;
    opacity: 0.5;
    
}

#visa:focus, #mastercard:focus, #pay_pal:focus, #american_express:focus, #bitcoin:focus, #okpay:focus, #amazon_pay:focus {
    cursor: pointer;
    opacity: 0.5;
}

#mastercard {
    margin: 2px 0px 0px 30px;
}

#american_express {
    margin: -3px 0px 0 37px;
}

#pay_pal {
    margin: -1px 0px 0 25px;
}

#bitcoin {
    margin: -2px 0 0 25px;
}

#okpay {
    margin: -2px 0 0 34px;
}


#amazon_pay {
    margin: 0 -3px 0 40px;
}

// Ways_to_pay_block end

// How_to_pay_block start

.how_to_pay_block {
    position: fixed;
    position: absolute;
    margin: 0px 0 0 2px;
    top: 3187px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #4cb649;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    width: 455px;
    justify-content: start;
    letter-spacing: 0.8px;
}


.how_to_pay_wrapper1 {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#arrow1 {
    margin: 0 0 0 17px;
}

.how_to_pay_wrapper1:hover, .how_to_pay_wrapper1:focus {
    #arrow1 {
        cursor: pointer;
        margin: 0px -10px 0 27px;
    }

}

.how_to_pay_wrapper2 {
    margin: 0 0 0 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #4cb649;
}

#arrow2 {
    margin: 0 0 0 18px;
}

.how_to_pay_wrapper2:hover, .how_to_pay_wrapper2:focus {
    #arrow2 {
        cursor: pointer;
        margin: 0px -10px 0 27px;
       
    }

}

.redeem_gift_card {
    color: $apple;
}

// How_to_pay_block end

// Discount_block end

// About_company_block start

.about_company-wrapper {
    margin: 84px 0 0 0;
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.company_name {
    margin: 0 0 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}

.about_company {
    margin: 58px 0 0 0;
    display: grid;
    grid-template: 160px 122px 1fr/200px 200px 200px 600px;
    h4 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323642;
        margin: 0 0 14px 0;
    }
    a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #889099;
        margin: 0 0 0 0;
        line-height: 32px;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #889099;
        margin: 21px 0 0 0;
        line-height: 22px;
    }

    a:hover, a:focus, a:active {
        opacity: 0.5;
    }
   

}

.company_block {
    margin: 0 0 0 0;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:3;

}

.programs_block {
    margin: 0 0 0 0;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
}

.learn_more_block {
    margin: 0 0 0 0;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
}

.legal_block {
    margin: 0 0 0 0;
    grid-column-start:3;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:3;
}

.about_block {
    margin: 0 0 0 0;
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:1;
    grid-row-end:2;
}

.desktop_li {
    display: block;
}

.mobi_li {
    display: none;
}

.social_block {
    margin: 0 0 0 0;
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:3;
    grid-row-end:4;
}

.map_data {
    margin: -14px 0 0 0;
    grid-column-start:4;
    grid-column-end:5;
    grid-row-start:2;
    grid-row-end:3;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #889099;
}

.social_icon-wrapper {
    margin: 23px 0 0px 0;
    display: flex;
    flex-direction: row;
    width: 333px;
    justify-content: space-between;
}




// About_company_block end

// Footer end







// ******************************************************************************************

@media (max-width: 930px) {

body {
    width: 375px;
    height: 6990px;
    margin: 0 auto;
}

// Header start

.warning {
    position: fixed;
    width: 375px;
    height: 69px;
    background: $shark;
    display: grid;
    grid-template: 50% 50%/55% 30% 5%;


}

.warning_block-1 {
    display: flex;
    align-items: center;
    justify-items: start;
    margin: 11px 0 0 20px;
    order: 1;
}

#alert_svg {
    width: 24px;
    height: 24px;
}

#you-are-not-protected {
    @include roboto-normal-pizazz-12px;
    margin: 0 0px 0 4px;
}


.warning_block-2 {
    order: 4;
    margin: -8px 0 0 14px;
}

.warning_block-3 {
    order: 5;
    margin: -5px 0 0 -21px;
}

.warning_block-4 {
    order: 2;
    margin: 11px 0 0px 35px;
}

.warning_block-4:hover {
    cursor: pointer;
    @include roboto-normal-pizazz-12px;
    order: 2;
    margin: 11px 0 0px 35px;
    font-weight: 400;
}

.warning_block-5 {
    display: flex;
    align-content: center;
    margin: 11px 0px 0 -15px;
    order: 3;

}

#close_icon {
    width: 14px;
    height: 14px;
}

#close_border {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

}

// Header end

// Nav-menu start

.navigation-block {
    justify-content: space-around;
    height: 101px;
}


.nav-sandwich_icon {
    width: 24px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.nav-company_name {
    display: flex;
    justify-content: center;
    align-items: center;
    @include inter-normal-black-18px;
    margin: 0px 0px 0 0px;
    text-decoration: none;
    cursor: pointer;
}

.nav-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
}

.nav-log_in {
    display: none;
    width: 126px;
    height: 40px;
}

.nav-btn_wrapper {
    width: 126px;
    height: 40px;
}

.nav-get_started {
    margin: 0 0 0 0;
}

.nav-sandwich_menu {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    @include roboto-medium-apple-14px;
    margin: 7px 0 22px 0;
    z-index: 1;
    line-height: 34px;
    border: 1px solid $black;
    width: 100px;

} 


// Nav menu end

// Article start

article {
    width: 375px;
    margin: 0 auto;
}

.featured_article {
    width: 335px;
    height: 600px;
    background: #FFFFFF;
    border: 1px solid #D7D8D9;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
    margin: 0 auto;
}

.feature_article-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px 0px 0 31px;
    width: 275px;
}

.featured_article-img {
    width: 335px;
    height: 224px;
}

.feature_article-post {
    @include roboto-light-shark-24px;
    line-height: 34px;
    margin: 0px 0 0 0;
}

.feature_article-data_author-wrapper {
    display: flex;
    flex-direction: row;
    margin: 19px 0 0px 0;
}

.feature_article-author {
    @include roboto-medium-tuna-14px;
    margin:0 10px 0 0;
}

.feature_article-data {
    @include roboto-normal-oslo-gray-14px;
}

.feature_article-title {
    @include roboto-normal-apple-12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 17px 0 0px 0;
}

.feature_artile-comment_counter-wrapper {
    margin: 13px 0px 0px 5px;
    display: flex;

}

.feature_article-comment {
    background-image: url(../img/icons/comment_mobile.svg);
    display:block;
    width: 16px;
    height: 16px;
    margin: 0 4px 0 -4px;
}

.feature_article-counter_comments {
    @include roboto-normal-oslo-gray-14px;
    margin: 0px 0px 0px 7px;
}

// Featured_article end


// Tags_block start

.tags_block {
   display: none;
}

// Tags_block end

.search_recent_posts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.search_recent_posts-line {
    display: none;
}


// Search_block start

.search_block {
    background: #FFFFFF;
    border: 1px solid #D7D8D9;
    border-radius: 4px;
    margin: 0 auto;
    width: 335px;
    height: 59px;
    display: flex;
    flex-direction: row;
    margin-top: 39px;
    align-items: center;
}



.search_icon {
    width: 19px;
    height: 19px;
    margin: 0 0 0 20px;

}

.search_input {
    outline: 0 !important;
    border: none;
    width: 103px;
    height: 28px;
    color: #22252e;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    margin: 2px 0px 0 17px;
}






// Search_block end

// Recent_posts start

.recent_posts-block {
    display: flex;
    flex-direction: column;
    width: 315px;
    margin: 0 auto;
}

.recent_posts-title {
    @include roboto-light-shark-32px;
    margin: 44px 0 0 0;
}

.recent_post-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin: 46px 0 0 0;
    height: 443px;
}

.recent_post-wrapper2 {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

// Post 1 start

.recent_post1-data {
    margin: 0px 0 0px -27px;
}

.recent_post1-title {
    margin:0 0 0 0;
    margin: 10px 0 0 0;
    line-height: 16px;
}

.recent_post1-comment_counter-wrapper {
    margin: 1px 0 0 13px;
}

.recent_post-image {
    width: 315px;
    height: 200px;
}

.recent_post1-post {
    margin: 0 0 0 0;
    margin: 18px 0 0 0;
}

.recent_post-line{
    width: 315px;
    height: 1px;
    background: #EBECED;
    margin: 0 auto;
    margin: 52px 0 0 0;
}

.recent_post1-line {
    margin: 42px 0 0 0;
}


// Post 1 end

// Post 2 start

.recent_post2-wrapper {
    height: 385px;
}

.recent_post2-wrapper2 {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 0;
    
}

.recent_post2-image {
    margin: -24px 0 0 0;
}

.recent_post2-data_author-wrapper {
    margin: 10px 0 0px 0;
}

.recent_post2-author {
    margin: 0px 19px 0px 0px;
    font-weight: 400;
}

.recent_post2-title {
    margin: 15px 0px 0 -1px;
    font-weight: 500;
}

.recent_post-comment_img {
    display: none;
}

.recent_post2-counter_comments {
    margin: 14px 0 0px 7px;
}

.recent_post2-line {
    margin: 0px 0 0 0;
}

// Post 2 end

// Post 3 start


.recent_post3-wrapper {
    margin: 42px 0 0 0;
    height: 438px;
}

.recent_post3-image {
    margin: -24px 0 0 0;
}

.recent_post3-wrapper2 {
    margin: 0 0 0 0;
    margin: -30px 0 0 0;
}

.recent_post3-post {
    margin: 18px 0 0 0;
}

.recent_post3-data_author-wrapper {
    margin: 26px 0 0px 0;
}

.recent_post3-author {
    margin: 0px 19px 0px 0px;
    font-weight: 400;
}

.recent_post3-title {
    margin: 13px 0 0 0;
    font-weight: 500;
}

.recent_post3-counter_comments {
    margin: 14px 0 0px 7px;
}

.recent_post3-line {
    margin: 0 0 0 0;
}

// Post 3 end

// Post 3, 4, 5 start

.recent_post4-wrapper, .recent_post5-wrapper, .recent_post6-wrapper, .recent_post4-line, .recent_post5-line, .recent_post6-line {
    display: none;
}

// Post 3, 4, 5 end




.older_posts-button {
    margin: 58px 0 0 0;
    width: 313px;
}

.side_nav_blog-block {
    display: flex;
    flex-direction: column;
    width: 315px;
    margin: 0 auto;
    margin: 59px 0 0 0;
}

.side_nav_announcements {
    display: flex;
    flex-direction: column;

}

.side_nav-header_announcements-wrapper {
    margin: 0px 0 0 -5px;
}

.side_nav_popular_post {
    margin: 70px 0 0 7px;
}

.popular_post-ul {
    margin: 31px 0 0 -1px;
    height: 283px;
    width: 323px;
}

.popular_post-line {
    margin: 29px 0 0 0;
}

.add_sidebar {
    margin: 30px 0 0 0;
    width: 315px;
}

.tag_cloud {
    margin: 66px 0 0 0;
}

.tag_cloud-img {
    margin: 20px 1px -3px -10px;
}


// Footer start

footer {
    display: flex;
    flex-direction: column;
}

.discount_block {
    height: 1700px;
    width: 375px;
    border-radius: 0px;
    background: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
    margin: 72px 0 0 0;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pricing_block {
    margin: 45px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 315px;
}

.sign_up_today {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    margin: 60px 0 -5px 0;
    letter-spacing: 0.2px;
}

.space {
    margin: 0 0 0 0px;
}

// Pricing block1 start

.pricing_block1 {
    position:absolute;
    top: -70px;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    height: 340px;
    width: 315px;
    background: #FFFFFF;
    border: 1px solid #EBECED;
    border-radius: 6px;
}

.pricing_block1:hover,
.pricing_block1:focus, .pricing_block1:active {
    position:absolute;
    top: -70px;
    margin: -3px 0 0 0;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    height: 340px;
    width: 315px;
    background: #FFFFFF;
    border: 4px solid #FF8D00;
    border-radius: 4px;
}

.pricing_block1-sign_up:hover, .pricing_block1-sign_up:focus, .pricing_block1-sign_up:active {
    height: 40px;
    width: 205px;
    background: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);
    border-color: $pizazz;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.8px;
    margin: 32px -2px 0 0;
}


// Pricing block1 end

// Pricing block2 start

.pricing_block2 {
    position: absolute;
    top: 290px;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    height: 340px;
    width: 315px;
    background: #FFFFFF;
    border: 1px solid #EBECED;
    border-radius: 6px;
}

.pricing_block2:hover,
.pricing_block2:focus, .pricing_block2:active {
    position: absolute;
    top: 290px;
    margin: -3px 0 0 0;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    height: 340px;
    width: 315px;
    background: #FFFFFF;
    border: 4px solid #FF8D00;
    border-radius: 4px;
}

.pricing_block2-sign_up:hover, .pricing_block2-sign_up:focus, .pricing_block2-sign_up:active {
    height: 40px;
    width: 205px;
    background: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);
    border-color: $pizazz;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.8px;
    margin: 27px 0px 0 0;
}

// Discount_block start

.discount_block {
    height: 1700px;
    width: 375px;
    border-radius: 0px;
    background: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
    margin: 72px 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


// Discount_block end




// Pricing block2 end

// Pricing block3 start

.pricing_block3 {
    position: absolute;
    top: 651px;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    height: 340px;
    width: 315px;
    background: #FFFFFF;
    border: 1px solid #EBECED;
    border-radius: 6px;
}

.pricing_block3:hover,
.pricing_block3:focus, .pricing_block3:active {
    position: absolute;
    top: 651px;
    margin: -3px 0 0 0;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    height: 340px;
    width: 315px;
    background: #FFFFFF;
    border: 4px solid #FF8D00;
    border-radius: 4px;
}


.pricing_block3-sign_up:hover, .pricing_block3-sign_up:focus, .pricing_block3-sign_up:active {
    height: 40px;
    width: 205px;
    background: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);
    border-color: $pizazz;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.8px;
    margin: 17px -2px 0 0;
}

// Pricing block3 end

// Ways_to_pay_block start

.ways_to_pay_block {
    position: absolute;
    top: 5560px;
    display: grid;
    grid-template: 32px 90px 44px 70px/119px 120px 136px;
    justify-content: center;
    width: 375px;
    margin: 0px 0 0 66px;
}

.ways_to_pay {
    margin: 0px 0px 0 -34px;
    grid-column-start:1;
    grid-column-end:4;
    justify-content: center;
    font-weight: 300;
    font-size: 18px;
     color: #FFFFFF; 
     width: 375px;
}


#visa {
    margin: 0px 0px 0 0px;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:3;
}

#visa:hover, #mastercard:hover, #pay_pal:hover, #american_express:hover, #bitcoin:hover, #okpay:hover, #amazon_pay:hover {
    cursor: pointer;
    opacity: 0.5;
    
}

#visa:focus, #mastercard:focus, #pay_pal:focus, #american_express:focus, #bitcoin:focus, #okpay:focus, #amazon_pay:focus {
    cursor: pointer;
    opacity: 0.5;
}

#mastercard {
    margin: 0px 0px 0px 12px;
}

#american_express {
    margin: 0px 0px 0 -5px;
}

#pay_pal {
    margin: 4px 0px 0 -6px;
}

#bitcoin {
    margin: 3px 0 0 -1px;
}

#okpay {
    margin: 4px 0 0 -8px;
}


#amazon_pay {
    margin: -4px 0px 0 -14px;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:4;
    grid-row-end:5;
}


// Ways_to_pay_block end


// How_to_pay_block start

.how_to_pay_block {
    position: fixed;
    position: absolute;
    margin: 0px 0 0 2px;
    top: 5817px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #4cb649;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    width: 455px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    letter-spacing: 0.8px;
}

.how_to_pay_wrapper1 {
    margin: -2px 0 2px -5px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.how_to_pay_wrapper2 {
    margin: 42px 0 0 -6px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    color: #4cb649;
}

// How_to_pay_block end

// Discount_block end

// About_company_block start

.about_company-wrapper {
    margin: 45px 0 0 37px;
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.company_name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.about_company {
    margin: 55px 0 0 0;
    display: grid;
    
    grid-template: 124px 124px 100px 195px 206px 100px/180px 200px;
    h4 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323642;
        margin: 0 0 14px 0;
    }
    a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 32px;
        color: #889099;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #889099;
        margin: 21px 0 0 0;
        line-height: 22px;
    }

    a:hover, a:focus, a:active {
        opacity: 0.5;
    }
   

}

.company_block {
    margin: 0 0 0 0;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:1;
    grid-row-end:3;

}

.programs_block {
    margin: 0 0 0 0;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:2;
}

.learn_more_block {
    margin: 0 0 0 0;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start:2;
    grid-row-end:3;
}

.legal_block {
    margin: 0 0 0 0;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:4;
    grid-row-end:5;
}

.about_block {
    margin: 0 0 0 0;
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:5;
    grid-row-end:6;
    width: 314px;
}

.br1 {
    display: none;
}

.desktop_li {
    display: none;
}

.mobi_li {
    display: block;
}

.social_block {
    margin: 0 0 0 0;
    grid-column-start:2;
    grid-column-end:3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.map_data {
    margin: -14px 0 0 0;
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:6;
    grid-row-end:7;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #889099;
    width: 310px;
}

.social_icon-wrapper {
    margin: 23px 0 0px 0;
    display: grid;
    grid-template: 55px 40px/45px 45px 45px;
    width: 151px;
    justify-content: space-between;
}




// About_company_block end

// Footer end

}