@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700,500|Inter:400");

@import "variables";
@import "mixins";
@import "./scss/main.scss";
@import "./scss/header.scss";
@import "./scss/footer.scss";



html,
body {
    height: 100%;
    display: block;
}

body {
    width: 100%;
    position: relative;
    font-family: "Roboto";
}

*{
    box-sizing: border-box;
}

a:active,
a:hover,
a {
    cursor: pointer;
    text-decoration: none;
    color: $tuna;
}

li {
    text-decoration: none;
    list-style: none;
}







