$black:
#000000;
$green-pea:
#125e42;
$aztec:
#131f1e;
$shark:
#22252e;
$tuna:
#323642;
$mine-shaft:
#333333;
$bismark:
#497a81;
$apple:
#4cb649;
$breaker-bay:
#5c999b;
$asparagus:
#6fb353;
$half-baked:
#7acccc;
$oslo-gray:
#889099;
$winter-wizard:
#a1e1fd;
$iron:
#d7d8d9;
$pizazz:
#ff8d00;
$white:
#ffffff;

$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 18px;
$font-size-xl: 24px;
$font-size-xxl: 27px;
$font-size-xxxl: 32px;
$font-size-xxxxl: 48px;
$font-family-inter: "Inter";
$font-family-roboto: "Roboto";

