// Footer start
  



.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    padding-bottom: 80px;

    @include tabletUp {
        padding-bottom: 50px;
    }
}


// Discount_block start

.discount_block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 0px;
    background: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
    margin: 72px 0 0 0;
    padding: 0 0 40px 0;
    height: 1700px;
    width: 100%;

    @include desktop {
        justify-content: space-around;
    }
}

.sign_up_today {
    display: flex;
    justify-content: center;
    @include light-white-48px;
    letter-spacing: -0.5px;
    text-align: center;
    display: flex;
    color: $white;
    flex-direction: column;
    margin: 60px 0 -5px 0;
    letter-spacing: 0.2px;
}

.pricing_block-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1%;
    height: 1000px;
    justify-content: space-between;
    align-items: center;

    @include desktop {
        flex-direction: row;
        gap: 1%;
        margin: 40px auto;
        justify-content: center;
        width: 80%;
        height: 340px;
    }
}


// Pricing_block1 start

.pricing_block1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 315px;
    background: $white;
    border: 1px solid #EBECED;
    border-radius: 6px;

    @include desktop {
        justify-content: start;
        height: 340px;
        width: 30%;
    }
}

.pricing_block1:hover,
.pricing_block1:focus,
.pricing_block1:active {
    background: $white;
    border: 4px solid #FF8D00;
    border-radius: 4px;
    margin: -3px -3px -3px -3px;
    height: 315px;

    @include tabletUp {
        border: 4px solid $apple;
        height: 380px;
    }
}

.pricing_block1-period {
    @include medium-tuna-14px;
    letter-spacing: 0.8px;
    margin: 51px 5px 0 0px;
}

.pricing_block1-smallline {
    height: 2px;
    width: 24px;
    background: $apple;
    margin: 13px 2px 0 0;
}

.price_block-pricing_block1 {
    margin: 15px -1px 0 0;
    display: flex;
    align-items: center;
}

.dollar1 {
    margin: -8px 12px 0 1px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: $shark;
}

.price-pricing_block1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -1.5px;
    color: $shark;
}

.mo1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: $shark;
    margin: 34px 0 0 0;
}

.pricing_block1-line {
    background: #EBECED;
    height: 1px;
    width: 200px;
    margin: 18px 0 0 0;
}

.pricing_block1-discount-wrapper {
    @include medium-tuna-14px;
    margin: 33px -3px 0 0;
    font-weight: 400px;
}

.pricing_block1-sign_up {
    height: 40px;
    width: 205px;
    border-radius: 30px;
    border: 1px solid $apple;
    display: flex;
    align-items: center;
    justify-content: center;
    @include medium-apple-14px;
    letter-spacing: 0.8px;
    margin: 32px -2px 0 0;
}

.pricing_block1-sign_up:hover,
.pricing_block1-sign_up:focus,
.pricing_block1-sign_up:active {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $pizazz;
    border-radius: 30px;
    color: white;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.8px;
    margin: 32px -2px 0 0;
    background: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);
    height: 40px;
    width: 205px;

    @include tabletUp {
        background: $apple;
        border-color: $apple;
    }
}


// Pricing_block1 end

// Pricing block2 start

.pricing_block2 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 315px;
    background: $white;
    border: 1px solid #EBECED;
    border-radius: 6px;

    @include desktop {
        justify-content: start;
        height: 340px;
        width: 30%;
    }
}

.pricing_block2:hover,
.pricing_block2:focus,
.pricing_block2:active {
    background: $white;
    border: 4px solid #FF8D00;
    border-radius: 4px;
    margin: -3px -3px -3px -3px;
    height: 315px;

    @include tabletUp {
        border: 4px solid $apple;
        height: 380px;
    }
}

.pricing_block2-line {
    background: #EBECED;
    height: 1px;
    width: 200px;
    margin: 18px 0 0 0;
}

.pricing_block2-period {
    @include bold-tuna-14px;
    letter-spacing: 0.8px;
    margin: 61px -2px 0 0px;
    text-transform: uppercase;
}

.pricing_block2-smallline {
    height: 2px;
    width: 24px;
    background: $apple;
    margin: 16px 0px 0 0;

}

.price_block-pricing_block2 {
    margin: 13px 0 0 0;
    display: flex;
    align-items: center;
}

.dollar2 {
    margin: -7px 12px 0 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: $shark;
}

.price-pricing_block2 {
    margin: 0 6px 0 -6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -1.5px;
    color: $shark;
}

.mo2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: $shark;
    margin: 34px 0 0 0;
}

.pricing_block1-line {
    background: #EBECED;
    height: 1px;
    width: 200px;
    margin: 18px 0 0 0;
}

.pricing_block2-discount-wrapper {
    @include medium-tuna-14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 18px -3px 0 0;
    font-weight: 400px;
}

.pricing_block2-discount_cost {
    margin: 0px 7px 0 -5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: line-through;
    color: #F24458;
}

.pricing_block2-discount_cost_per_year {
    margin: 0 0 0 0;
    font-weight: 400;
}

.pricing_block2-discount_save {
    margin: 9px 0px 0 0;
    @include bold-tuna-14px;
}

.pricing_block2-sign_up {
    height: 40px;
    width: 205px;
    border-radius: 30px;
    border: 1px solid $apple;
    display: flex;
    align-items: center;
    justify-content: center;
    @include medium-apple-14px;
    letter-spacing: 0.8px;
    margin: 32px -2px 0 0;
}

.pricing_block2-sign_up:hover,
.pricing_block2-sign_up:focus,
.pricing_block2-sign_up:active {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $pizazz;
    border-radius: 30px;
    color: white;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.8px;
    margin: 32px -2px 0 0;
    background: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);
    height: 40px;
    width: 205px;

    @include tabletUp {
        background: $apple;
        border-color: $apple;
    }
}

// Pricing block2 end

// Pricing block3 start

.pricing_block3 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 315px;
    background: $white;
    border: 1px solid #EBECED;
    border-radius: 6px;

    @include desktop {
        justify-content: start;
        height: 340px;
        width: 30%;
    }
}

.pricing_block3:hover,
.pricing_block3:focus,
.pricing_block3:active {
    background: $white;
    border: 4px solid #FF8D00;
    border-radius: 4px;
    margin: -3px -3px -3px -3px;
    height: 315px;

    @include tabletUp {
        border: 4px solid $apple;
        height: 380px;
    }
}

.pricing_block3-period {
    @include medium-tuna-14px;
    letter-spacing: 0.8px;
    margin: 51px -3px 0 0px;
}

.pricing_block3-smallline {
    height: 2px;
    width: 24px;
    background: $apple;
    margin: 12px 3px 0 0;
}

.price_block-pricing_block3 {
    margin: 16px -1px 0 0;
    display: flex;
    align-items: center;
}

.dollar3 {
    margin: -9px 12px 0 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: $shark;
}

.price-pricing_block3 {
    margin: 0 6px 0 -6px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -1.5px;
    color: $shark;
}

.mo3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: $shark;
    margin: 34px 0 0 0;
}

.pricing_block3-line {
    background: #EBECED;
    height: 1px;
    width: 200px;
    margin: 18px 0 0 0;
}

.pricing_block3-discount-wrapper {
    @include medium-tuna-14px;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 19px 7px 0 0;
    font-weight: 400px;

    @include tabletUp {
        margin: 18px -2px 0 0;
    }
}

.pricing_block3-discount_cost {
    margin: 0px 13px 0 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: line-through;
    color: #F24458;
}

.pricing_block3-discount_cost_per_year {
    margin: 0 0 0 0;
    font-weight: 400;

}

.pricing_block3-discount_save {
    margin: 8px 8px 2px 0px;
    @include bold-tuna-14px;
    font-style: normal;

    @include tabletUp {
        margin: 10px 0px 0 0;
    }
}

.pricing_block3-sign_up {
    height: 40px;
    width: 205px;
    border-radius: 30px;
    border: 1px solid $apple;
    display: flex;
    align-items: center;
    justify-content: center;
    @include medium-apple-14px;
    letter-spacing: 0.8px;
    margin: 32px -2px 0 0;
}

.pricing_block3-sign_up:hover,
.pricing_block3-sign_up:focus,
.pricing_block3-sign_up:active {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $pizazz;
    border-radius: 30px;
    color: white;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0.8px;
    margin: 32px -2px 0 0;
    background: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);
    height: 40px;
    width: 205px;

    @include tabletUp {
        background: $apple;
        border-color: $apple;
    }
}

// Pricing block3 end

// Ways_to_pay_block start

.ways_to_pay_block {
    display: grid;
    grid-template: 25% 25% 25% 25%/33% 33% 33%;
    justify-content: center;
    width: 80%;
    grid-gap: 2%;

    @include desktop {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.ways_to_pay {
    margin: 0px 0px 0 -34px;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: $white;

    @include tabletUp {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
    }
}

#visa {
    margin: 0px 0px 0 0px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;

    @include tabletUp {
        margin: -2px 0px 0 31px;
    }
}

#visa:hover,
#mastercard:hover,
#pay_pal:hover,
#american_express:hover,
#bitcoin:hover,
#okpay:hover,
#amazon_pay:hover {
    cursor: pointer;
    opacity: 0.5;
}

#visa:focus,
#mastercard:focus,
#pay_pal:focus,
#american_express:focus,
#bitcoin:focus,
#okpay:focus,
#amazon_pay:focus {
    cursor: pointer;
    opacity: 0.5;
}

#mastercard {
    margin: 0px 0px 0px 12px;
    justify-self: center;

    @include tabletUp {
        margin: 2px 0px 0px 30px;
    }
}

#american_express {
    margin: 0px 0px 0 -5px;
    justify-self: center;

    @include tabletUp {
        margin: -3px 0px 0 37px;
    }
}

#pay_pal {
    margin: 4px 0px 0 -6px;
    justify-self: center;

    @include tabletUp {
        margin: -1px 0px 0 25px;
    }
}

#bitcoin {
    margin: 3px 0 0 -1px;
    justify-self: center;

    @include tabletUp {
        margin: -2px 0 0 25px;
    }
}

#okpay {
    margin: 4px 0 0 -8px;
    justify-self: center;

    @include tabletUp {
        margin: -2px 0 0 34px;
    }
}

#amazon_pay {
    margin: -4px 0px 0 -14px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: center;

    @include tabletUp {
        margin: 0 -3px 0 40px;
    }
}

// Ways_to_pay_block end

// How_to_pay_block start

.how_to_pay_block {
    margin: 23px 0 0 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $apple;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    justify-content: start;
    letter-spacing: 0.8px;

    @include tabletUp {
        flex-direction: row;
        margin: 0 auto;
    }
}

.how_to_pay_wrapper1 {
    margin: -2px 0 2px -5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $apple;

    @include tabletUp {
        margin: 0 0 0 0;
    }
}

#arrow1 {
    margin: 0 0 0 17px;
}

.how_to_pay_wrapper1:hover,
.how_to_pay_wrapper1:focus {
    #arrow1 {
        cursor: pointer;
        margin: 0px -10px 0 27px;
    }

    color: $apple;
}

.how_to_pay_wrapper2 {
    margin: 42px 0 0 -6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $apple;

    @include tabletUp {
        margin: 0 0 0 44px;
    }
}

#arrow2 {
    margin: 0 0 0 18px;
}

.how_to_pay_wrapper2:hover,
.how_to_pay_wrapper2:focus {
    #arrow2 {
        cursor: pointer;
        margin: 0px -10px 0 27px;
    }
}

.redeem_gift_card {
    color: $apple;
}

// How_to_pay_block end

// Discount_block end

// About_company_block start

.about_company-wrapper {
    margin: -10px 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: start;

    @include tabletUp {
        margin: 84px 0 0 0;
        width: 75%;
    }
}

.about_company {
    display: grid;

    @include phoneDown {
        grid-template: 84px 136px 213px 84px 120px 190px/50% 50%;
    }

    @include tabletOnly {
        grid-template: 97px 200px 133px 1fr/22% 18% 19% 53%;
    }

    @include desktop {
        grid-template: 97px 200px 133px 1fr/22% 18% 19% 53%;
    }

    margin: 0 auto;

    ul {
        margin: 16px 0 0 0;
    }

    h4 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #323642;
        margin: 0 0 14px 0;
    }

    a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #889099;
        margin: 0 0 0 0;
        line-height: 32px;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #889099;
        margin: 21px 0 0 0;
        line-height: 22px;
    }
}

.company_name {
    margin: 0 0 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    color: #000000;

    @include phoneDown {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: start;
    }

    @include tabletUp {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        justify-self: start;

    }
}

.company_block {
    @include phoneDown {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: start;
    }

    @include tabletUp {
        margin: 0 0 0 0;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }
}

.programs_block {
    @include phoneDown {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: start;
    }

    @include tabletUp {
        margin: 0 0 0 0;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }
}

.learn_more_block {
    @include phoneDown {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        justify-self: start;
    }

    @include tabletUp {
        margin: 0 0 0 0;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

.legal_block {
    @include phoneDown {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-self: start;
    }

    @include tabletUp {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: start;
    }
}

.about_block {
    @include phoneDown {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
        justify-self: start;
    }

    @include tabletUp {
        margin: 0 0 0 0;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.desktop_li {
    display: block;
}

.mobi_li {
    display: none;
}

.social_block {
    @include phoneDown {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        justify-self: start;
    }

    @include tabletUp {
        margin: 0 0 0 0;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

.map_data {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #889099;

    @include phoneDown {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 7;
        grid-row-end: 8;
        justify-self: start;
    }

    @include tabletUp {
        margin: -14px 0 0 0;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

.social_icon-wrapper {
    margin: 23px 0 0px 0;
    display: grid;
    grid-template: 55px 40px/45px 45px 45px;
    width: 151px;
    justify-content: space-between;

    @include tabletUp {
        display: flex;
        flex-direction: row;
        margin: 23px 0 0px 0;
        width: 333px;
    }
}

.br2 {
    display: none;
}

// About_company_block end

// Footer end