// Header start

// Warning block start

.warning {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    background: $shark;
    padding: 13px 40px 13px 20px;

    a:active,
    a:hover,
    a:focus {
        color: $pizazz;
    }

    @include phoneDown {
        display: grid;
        grid-template-columns: 45% 55%;
        grid-gap: 5px;
    }

    @include tabletUp {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
}

.warning_protected {
    display: flex;
    align-items: center;
    @include roboto-normal-pizazz-12px;
    line-height: 16px;

    @include phoneDown {
        order: 1;
    }

    @include tabletUp {
        justify-self: end;
        margin: 0 2px 0 0;
        order: 1;
    }

    img {
        width: 24px;
        height: 24px;
    }
}

.warning_address {
    @include roboto-normal-oslo-gray-12px;

    &--ip {
        @include phoneDown {
            order: 4;
            margin-left: auto;
        }

        @include tabletUp {
            order: 2;
        }
    }

    &--ips {
        order: 3;
    }

}


.warning_more {
    @include roboto-normal-white-12px;

    @include phoneDown {
        order: 2;
        margin-left: auto;
    }

    @include tabletUp {
        order: 4;
    }
}

.warning_close {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 11px;
    top: 11px;
    display: flex;
    justify-content: center;
    align-content: center;

    &:hover {
        cursor: pointer;
    }

    img {
        width: 14px;
        height: 14px;
    }
}

// Warning block end

// Nav-menu start

.navigation-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    // padding-top: 40px;

    @include phoneDown {
        height: 170px;
    }

    @include tabletUp {
        height: 160px;
        padding-left: 5%;
    }
}

.nav-sandwich_bar {
    width: 24px;
    margin: 200px 0 0 0;
    display: flex;
    flex-direction: column;
}

.nav-sandwich_icon {
    @include phoneDown {
        width: 24px;
        height: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 1;
    }

    @include tabletUp {
        display: none;
    }
}

.nav-sandwich_icon:hover,
.nav-sandwich_icon:focus,
.nav-sandwich_icon:active {
    width: 24px;
    height: 18px;
    display: flex;
    z-index: 1;
}

.nav_line {
    width: 97px;
    height: 3px;
    background: $apple;
    visibility: hidden;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #323642;
}

.nav_block-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-sandwich_bar {
    @include phoneDown {
        display: block;
    }

    @include tabletUp {
        display: none;
    }
}

.nav-sandwich_menu {
    display: flex;
    flex-direction: column;
    @include roboto-medium-apple-14px;
    margin: 7px 0 22px 0;
    z-index: 1;
    line-height: 34px;
    border: 1px solid $black;
    width: 100px;
    visibility: hidden;
}

.nav-sandwich_line {
    width: 24px;
    height: 2px;
    background: $shark;
}

.nav-log_in {
    display: none;
    width: 126px;
    height: 40px;
}

.nav-company_name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    width: max-content;
}

.nav-why_us {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    margin: 57px 0 0 0;
}

.nav-why_us-submenu {
    display: flex;
    flex-direction: column;
    align-items: start;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background: white;
    cursor: pointer;
}

.nav-why_us:hover,
.nav-why_us:active,
.nav-why_us:focus {
    .nav_line {
        visibility: visible
    }

    .nav-why_us-submenu {
        visibility: visible;
        opacity: 1;
        z-index: 10;
    }
}

.nav-vpn_apps {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    margin: 2px 0 0 0;
}

.nav-vpn_apps:hover,
.nav-vpn_apps:active,
.nav-vpn_apps:focus {
    .nav_line {
        visibility: visible
    }
}

.nav-support {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    margin: 57px 0 0 0;
}

.nav-support:hover,
.nav-support:active,
.nav-support:focus {
    .nav_line {
        visibility: visible
    }

    .nav-support-submenu {
        visibility: visible;
        opacity: 1;
        z-index: 10;

    }
}

.nav-support-submenu {
    display: flex;
    flex-direction: column;
    align-items: start;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background: white;
    cursor: pointer;
}

.nav-resources {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    margin: 57px 0 0 0;
    letter-spacing: 0.7px;
}

.nav-resources-submenu {
    display: flex;
    flex-direction: column;
    align-items: start;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    background: white;
    cursor: pointer;
}

.nav-resources:hover,
.nav-resources:active,
.nav-resources:focus {
    .nav_line {
        visibility: visible
    }

    .nav-resources-submenu {
        visibility: visible;
        opacity: 1;
        z-index: 10;
    }

}

.nav-list_icon {
    width: 10px;
    height: 5px;
    margin: -4px 0 0 0;
}

.nav-btn_wrapper {
    display: flex;
    justify-items: space-between;
    align-items: center;
    gap: 1rem;
    width: max-content;
}

.nav-log_in {
    border: 1px solid $apple;
    border-radius: 30px;
    width: 90px;
    height: 40px;
    @include roboto-medium-apple-14px;
    letter-spacing: 0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-log_in:hover {
    background: $apple;
    color: white;
}

.nav-get_started {
    background: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include roboto-medium-apple-14px;
    letter-spacing: 0.8px;
    height: 40px;
    margin: 7px 0 22px 0;
    z-index: 1;
    line-height: 34px;
    margin: 3px 0 0 0;
    color: white;

    @include desktop {
        width: 160px;

    }

    @include tabletOnly {
        margin: 3px 0 0 0;
        width: 126px;
    }

    @include phoneDown {
        display: none;
        width: 100px;
    }
}

.nav-get_started:hover {
    background: linear-gradient(0deg, #5DDF5A 0%, #4CB649 100%);
    color: white;
}

.nav-wrapper {
    display: none;
    @include desktop {
        display: flex;
    }
}