.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 100%;
    flex: 1 0 auto;

}

.content {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}



.wrapper {
    max-width: 1200px;
    margin: 0 auto;

}



// Main content start

// Section start

.featured_article {
    background: #FFFFFF;
    border: 1px solid #D7D8D9;
    border-radius: 6px;
    overflow: hidden;
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
}

.featured_article-img {
    width: 100%;
}

.feature_article-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feature_article-post {
    @include roboto-light-shark-24px;
    line-height: 34px;
    margin: 35px 0 0 0;
}

.feature_article-data_author-wrapper {
    display: flex;
    flex-direction: row;
    margin: 41px 0 -46px 0;
}

.feature_article-author {
    @include roboto-medium-tuna-14px;
    margin: 0 10px 0 0;
}

.feature_article-data {
    @include roboto-normal-oslo-gray-14px;
}

.feature_article-title {
    @include roboto-normal-apple-12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 15px 0 -11px 0;
}

.feature_artile-comment_counter-wrapper {
    margin: -20px 0px 19px 5px;
    display: flex;

}

.feature_article-comment {
    background-image: url(../img/icons/comment.svg);
    display: block;
    width: 12px;
    height: 12px;
}

.feature_article-counter_comments {
    @include roboto-normal-oslo-gray-14px;
    margin: 0px 0px 0px 7px;
}

.feature_article-post {
    @include roboto-light-shark-24px;
    line-height: 34px;
    margin: 0px 0 0 0;
}

.feature_article-data_author-wrapper {
    display: flex;
    flex-direction: row;
    margin: 19px 0 0px 0;
}

.feature_article-author {
    @include roboto-medium-tuna-14px;
    margin: 0 10px 0 0;
}

.feature_article-data {
    @include roboto-normal-oslo-gray-14px;
}

.feature_article-title {
    @include roboto-normal-apple-12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 17px 0 0px 0;
}

.feature_artile-comment_counter-wrapper {
    margin: 13px 0px 0px 5px;
    display: flex;

}

.feature_article-comment {
    background-image: url(../img/icons/comment.svg);
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 4px 0 -4px;
}

.feature_article-counter_comments {
    @include roboto-normal-oslo-gray-14px;
    margin: 0px 0px 0px 7px;
}


// Section end


// Tags block start

.tags_block {
    width: 1200px;
    margin: 30px auto;
    height: 60px;
    background: #F7F7F7;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    gap: 20rem;
    align-items: center;
    color: #4cb649;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.tags {
    @include roboto-normal-tuna-14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.tags-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 667px;
    justify-content: space-between;
    cursor: pointer;
}

.bitcoin {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.bittorrent {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.irc {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.news {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.privacy {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.programming {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.security {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.team_contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 147px;
}

.team {
    @include roboto-normal-tuna-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.team:hover,
.team:focus {
    color: $apple;
}

.contact {
    @include roboto-normal-tuna-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.contact:hover,
.contact:focus {
    color: $apple;
}

// Tags_block end

// Article end

.search_recent_posts-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    height: 1745px;
    padding: 15px 0 0 0;
    box-sizing: border-box;
}




// Search_block start

.search_block {
    background: #FFFFFF;
    border: 1px solid #D7D8D9;
    border-radius: 4px;
    width: 25%;
    height: 59px;
    display: flex;
    flex-direction: row;
    align-items: center;
    order:2;
}



.search_icon {
    width: 19px;
    height: 19px;
    margin: 0 0 0 20px;

}

.search_input {
    outline: 0 !important;
    border: none;
    width: 103px;
    height: 28px;
    color: #22252e;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    margin: 2px 0px 0 17px;
}

// Search_block end

// Recent_posts start

.recent_posts-block {
    display: flex;
    flex-direction: column;
    width: 66.5%;
    border-right: 1px solid #EBECED;
    order:1;
    height: 100%;
    box-sizing: border-box;
}

.recent_posts-title {
    @include roboto-light-shark-32px;
    margin-bottom: 16px;
}

.recent_post-wrapper {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #EBECED;
    border-width: 80%;
    padding-top:30px;
    margin-right: 60px;
    padding-bottom: 60px;
}

.recent_post-wrapper1 {
    display: flex;
    flex-direction: row;
}


.recent_post-wrapper2 {
    display: flex;
    flex-direction: column;
    width: 58%;
    margin: 0 auto;
    margin: 0px 0px 0 41px;
    justify-content: start;
    gap: 8%;
    height: 100%;
}


.recent_post-image {
    width: 280px;
    height: 180px;
}

.recent_post-data_author-wrapper {
    display: flex;
    flex-direction: row;
}

.recent_post-author {
    @include roboto-medium-tuna-14px;
}

.recent_post-data {
    @include roboto-normal-oslo-gray-14px;
}

.recent_post-title {
    @include roboto-normal-apple-12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.recent_post-comment_counter-wrapper {
    display: flex;

}

.recent_post-comment {
    background-image: url(../img/icons/comment.svg);
    display: block;
    width: 12px;
    height: 12px;
}

.recent_post-counter_comments {
    @include roboto-normal-oslo-gray-14px;
    margin: 0px 0px 0px 7px;
}

.recent_post-post {
    @include roboto-light-shark-24px;
    line-height: 34px;
    margin: 0px 0 0 0;
}





// Button Older_Post start

.older_posts-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0px 0 260px;
    @include roboto-medium-apple-14px;
    text-transform: uppercase;
    border: 1px solid #4CB649;
    border-radius: 30px;
    height: 40px;
    width: 260px;
    letter-spacing: 0.8px;
}

.older_posts-button:hover,
.older_posts-button:focus {
    background: $apple;
    color: white;
}

// Button Older_Post end

// Recent posts end


// Side_nav_blog start

.side_nav_blog-block {
    display: flex;
    flex-direction: column;
    order: 3;
}

.side_nav_announcements {
    border-bottom: 1px solid  #EBECED;
    padding: 40px 0 30px 0;
}

.side_nav-header_announcements-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0 0 0px;
}

.announcements-side_nav_header {
    @include roboto-light-shark-24px;
    margin: -4px 0 0 20px;
}

.announcements-ul {
    @include roboto-normal-tuna-14px;
    display: flex;
    line-height: 22px;
    justify-content: space-between;
    margin: 21px 0px 0 6px;
    display: flex;
    flex-direction: column;
    height: 195px;
    width: 307px;

    li {
        display: flex;
        flex-direction: row;
    }

    li>div {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #4CB649;
        align-items: center;
        justify-content: center;
        margin: 0 5px 0 -6px;
    }
}


.popular_post-side_nav_header {
    margin: 0 0 0 0;
    margin: -2px 0 0 30px;
}

.popular_post-ul {
    margin: 31px 0 0 -1px;
    height: 263px;
    width: 326px;
}

.popular_post-line {
    margin: 9px 0 0 0;
}

.add_sidebar {
    margin: 53px 0 0 0;
    width: 340px;
    height: 454px;
}

.tag_cloud {
    margin: 57px 0 0 0;
    @include roboto-light-shark-24px;

}

.tag_cloud-img {
    margin: 18px 39px 0px -12px;
    height: 309px;
}

// Side_nav_blog end



// *************************************************************************************  1200px **************************************************************

@media(min-width:1200px) {

    .main-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        min-height: 100%;
        flex: 1 0 auto;
    
    }
    
    .content {
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }
    
    
    
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    
    }
    

    .feature_article-wrapper {
        padding: 59px 60px 45px;
    }

    .recent_post-image {
        width: 280px;
        height: 180px;
    }

}





// *********************************************************************************  992 - 1199  ******************************************************************************


/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

    .main-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        min-height: 100%;
        flex: 1 0 auto;
    
    }
    
    .content {
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }
    
    
    
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
    
    }
    

    .tags_block {
        display: none;
    }

    .feature_article-wrapper {
        padding: 40px 36px 34px
    }

    .recent_posts-block {
        padding-left: 10px;
    }

    .recent_post-wrapper {
        border: none;
    }


}



// *********************************************************************************  768 - 991  ******************************************************************************


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .tags_block {
        display: none;
    }

    .feature_article-wrapper {
        padding: 20px 18px 17px
    }

    .feature_article-post {
        @include roboto-light-shark-24px;
        line-height: 34px;
        margin: 0px 0 0 0;
    }

    .feature_article-data_author-wrapper {
        display: flex;
        flex-direction: row;
        margin: 19px 0 0px 0;
    }

    .feature_article-author {
        @include roboto-medium-tuna-14px;
        margin: 0 10px 0 0;
    }

    .feature_article-data {
        @include roboto-normal-oslo-gray-14px;
    }

    .feature_article-title {
        @include roboto-normal-apple-12px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin: 17px 0 0px 0;
    }

    .feature_artile-comment_counter-wrapper {
        margin: 13px 0px 0px 5px;
        display: flex;

    }

    .feature_article-comment {
        background-image: url(../img/icons/comment_mobile.svg);
        display: block;
        width: 16px;
        height: 16px;
        margin: 0 4px 0 -4px;
    }

    .feature_article-counter_comments {
        @include roboto-normal-oslo-gray-14px;
        margin: 0px 0px 0px 7px;
    }

    .search_recent_posts-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
        padding: 0 10px 0px 10px;
    }
    


    .search_block {
        margin: 30px auto;
        width: 50%;
        order:1;
    }
    

    .recent_post-wrapper {
        height: 100%;
        margin: 0;
        border: none;
    }

    .recent_post-wrapper1 {
        height: 100%;
        margin: 0;
        border: none;
    }



    .recent_posts-block {
        padding-left: 10px;
        width: 100%;
        border-right: none;
        order: 2;
    }

    .recent_post-image {
        width: auto;
        height: auto;
    }

    .side_nav_blog-block {
        display: flex;
        flex-flow: wrap;
        margin: 0 auto;
        padding: 30px;
        justify-content: space-between;
    }

    .side_nav_announcements {
        border-bottom: 1px solid #EBECED;
        padding: 40px 0 30px 0;
        width: 50%;
    }

    .tag_cloud-wrapper {
        width: 50%;
        margin: 40px 0 0 0;
    }

    .add_sidebar {
        margin: 40px 0 0 0;
        width: 96%;
        height: 85%;
    }

    .tag_cloud-img {
        margin: 4px 0 0 -15px;
        width: 90%;
        height: 85%;
    }

    .tag_cloud {
        margin: 0 0 0 0;
    }

    .recent_post-wrapper {
        border: none;
    }


}


// *********************************************************************************** min-width: 768 px ******************************************************


@media(min-width: 768px) {


    .featured_article {
        display: flex;
    }

    .featured_article-img {
        width: 50%;
    }
}



// *********************************************************************************  768  ******************************************************************************

@media (max-width: 768px) {

    body {
        margin: 0 auto;
    }

    .main-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        min-height: 100%;
        flex: 1 0 auto;


    }

    .content {
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 1;
    }


    .wrapper {

        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;

    }





    // Feature article start

    section {
        width: 100%;
        margin: 0 auto;
    }

    .feature_article-wrapper {
        padding: 27px 30px 17px
    }

    .featured_article {
        background: #FFFFFF;
        border: 1px solid #D7D8D9;
        border-radius: 6px;
        overflow: hidden;
        -webkit-filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
        filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
        margin: 0 auto;
    }



    // Featured_article end


    // Tags_block start

    .tags_block {
        display: none;
    }

    // Tags_block end

    .search_recent_posts-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }


    .recent_posts-block {
        padding-left: 10px;
        width: 90%;
        border-right: none;
        order: 2;
    }



    // Search_block start

    .search_block {
        width: 90%;
        margin: 30px auto;

    }



    .search_icon {
        width: 19px;
        height: 19px;
        margin: 0 0 0 20px;

    }

    .search_input {
        outline: 0 !important;
        border: none;
        width: 103px;
        height: 28px;
        color: #22252e;
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        margin: 2px 0px 0 17px;
    }

    // Search_block end

    // Recent_posts start



    .recent_posts-block {
        padding: 0;
        margin: 0 auto;
        width: 90%;
    }

    .recent_posts-title {
        @include roboto-light-shark-32px;
        margin: 44px 0 0 0;
    }

    .recent_post-wrapper {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
        border: none;
    }

    .recent_post-wrapper1 {
        height: 100%;
        width: 100%;
        margin: 0 auto;
        flex-direction: column;
    }

    .recent_post-wrapper2 {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 27px 0px 17px;

    }


    .recent_post-image {
        width: auto;
        height: auto;
    }

  




    .older_posts-button {
        margin:30px auto;
        width: 50%;
    }

    .side_nav_blog-block {
        width: 100%;
        display: column;
        margin: 0 auto;
    }

    .side_nav_announcements {
        display: flex;
        flex-direction: column;
        padding: 30px;

    }

    .side_nav-header_announcements-wrapper {
        margin: 0;
    }

    .announcements-ul {
        width: 100%;
    }

    .popular_post-ul {
        width: 100%;
    }

    .side_nav_popular_post {
        margin: 70px 0 0 7px;
    }



    .add_sidebar {
        display: flex;
        margin: 30px auto;
        width: 80%;
        height: 80%;
    }

    .tag_cloud-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 80%;
        height: 80%;
        margin: 0 auto;

    }

    .tag_cloud {
        margin: 0;
    
    }

    .tag_cloud-img {
        display: flex;
        width: 80%;
        height: 80%;
    }



}


//****************************************************************** 375px ***********************************************************


@media (max-width: 375px) {
    
    .recent_posts-block {
        width: 100%;
    }

}