.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 100%;
    flex: 1 0 auto;

}

.content {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.wrapper {
    margin: 0 auto;

    @include phoneDown {
        padding-left: 15px;
        padding-right: 15px;
    }

    @include desktop {
        max-width: 1200px;
    }
}





// Main content start

// Section start

section {
    width: 100%;
    margin: 0 auto;
}

.featured_article {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #D7D8D9;
    border-radius: 6px;
    overflow: hidden;
    -webkit-filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
    filter: drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.101961));
    margin: 0 auto;
    width: 97%;
    @include desktop {
        flex-direction: row;
        height: 400px;
    }


}

.featured_article-img_wrapper {
    flex-shrink: 1;
    width: 100%;
}

.featured_article-img {
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    @include desktop {
    }
   

    @include tabletUp {
    }
}

.feature_article-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include phoneDown {
        padding: 27px 30px 17px;
    }

    @include tabletOnly {
        padding: 59px 60px 45px;
    }

    @include desktop {
        padding: 20px 18px 17px;
    }
}

.feature_article-post {
    @include roboto-light-shark-24px;
    line-height: 34px;

    @include phoneDown {
        margin: 35px 0 0 0;
    }

    @include tabletOnly {
        margin: 0px 0 0 0;
    }
}

.feature_article-data_author-wrapper {
    display: flex;
    flex-direction: row;

    @include desktop {
        margin: 41px 0 -46px 0;
    }

    @include tabletOnly {
        margin: 19px 0 0px 0;
    }

}

.feature_article-author {
    @include roboto-medium-tuna-14px;
    margin: 0 10px 0 0;
}

.feature_article-data {
    @include roboto-normal-oslo-gray-14px;
}

.feature_article-title {
    @include roboto-normal-apple-12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;

    @include tabletOnly {
        margin: 17px 0 0px 0;
    }

    @include desktop {
        margin: 15px 0 -11px 0;
    }
}

.feature_artile-comment_counter-wrapper {
    display: flex;

    @include desktop {
        margin: -20px 0px 19px 5px;
    }

    @include tabletOnly {
        margin: 13px 0px 0px 5px;
    }
}

.feature_article-comment {
    background-image: url(../img/icons/comment.svg);
    display: block;

    @include desktop {
        width: 12px;
        height: 12px;
    }

    @include tabletOnly {
        width: 16px;
        height: 16px;
        margin: 0 4px 0 -4px;
    }

    @include phoneDown {
        width: 16px;
        height: 16px;
        margin: 0 4px 0 -4px;
    }
}

.feature_article-counter_comments {
    @include roboto-normal-oslo-gray-14px;
    margin: 0px 0px 0px 7px;
}

.feature_article-post {
    @include roboto-light-shark-24px;
    line-height: 34px;
    margin: 0px 0 0 0;
}

.feature_article-data_author-wrapper {
    display: flex;
    flex-direction: row;
    margin: 19px 0 0px 0;
}

.feature_article-author {
    @include roboto-medium-tuna-14px;
    margin: 0 10px 0 0;
}

.feature_article-data {
    @include roboto-normal-oslo-gray-14px;
}

.feature_article-title {
    @include roboto-normal-apple-12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 17px 0 0px 0;
}

.feature_artile-comment_counter-wrapper {
    margin: 13px 0px 0px 5px;
    display: flex;

}

.feature_article-comment {
    background-image: url(../img/icons/comment.svg);
    display: block;
    width: 12px;
    height: 12px;
    margin: 0 4px 0 -4px;
}

.feature_article-counter_comments {
    @include roboto-normal-oslo-gray-14px;
    margin: 0px 0px 0px 7px;
}


// Section end


// Tags block start

.tags_block {
    width: 1200px;
    margin: 30px auto;
    height: 60px;
    background: #F7F7F7;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
    gap: 20rem;
    align-items: center;
    color: #4cb649;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;

    @include phoneDown {
        display: none;
    }
}

.tags {
    @include roboto-normal-tuna-14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.tags-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 667px;
    justify-content: space-between;
    cursor: pointer;
}

.bitcoin {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.bittorrent {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.irc {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.news {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.privacy {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.programming {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.security {
    @include roboto-normal-apple-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.team_contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 147px;
}

.team {
    @include roboto-normal-tuna-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.team:hover,
.team:focus {
    color: $apple;
}

.contact {
    @include roboto-normal-tuna-14px;
    margin: 0 0 0 0;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.contact:hover,
.contact:focus {
    color: $apple;
}

// Tags_block end

// Article end


.recent_posts-title {
    margin: 0px 0 25px 0;
}

.recent_post-wrapper1 {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}

.recent_post-wrapper3 {
    margin: 0px 0 0 0;
    padding: 12px 0 16px 0;
}

.recent_posts-block {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #EBECED;
    border-right: none;
    order: 2;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    padding: 0 10px 0 20px;

    @include desktop {
        padding-left: 10px;
        order: 1;
        width: 65%;
    }
}

.search_recent_posts-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px 0 0 0;
    box-sizing: border-box;
    flex-wrap: nowrap;

    @include desktop {
        flex-wrap: wrap;
        height: 1800px;
    }
}

.recent_post-image {
    @include phoneDown {}

    @include tabletOnly {
        width: auto;
        height: auto;
    }

    @include desktop {
        width: 280px;
        height: 180px
    }
}

.recent_post-post {
    margin: -8px 0 18px 0;
}

.recent_post-dat_author-wrapper {
    margin: 0 0 15px 0;
}

.recent_post-title {
    margin: 0 0 7px 0;
}

.recent_post-wrapper4,
.recent_post-wrapper5,
.recent_post-wrapper6 {
    display: none;
}





// Search_block start





.search_icon {
    width: 19px;
    height: 19px;
    margin: 0 0 0 20px;

}

.search_input {
    outline: 0 !important;
    border: none;
    width: 103px;
    height: 28px;
    color: #22252e;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    margin: 2px 0px 0 17px;
}

.search_block {
    background: #FFFFFF;
    border: 1px solid #D7D8D9;
    border-radius: 4px;
    height: 59px;
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 1;

    @include phoneDown {
        width: 90%;
        margin: 32px auto 45px auto;
    }

    @include tabletOnly {
        margin: 30px auto;
        width: 50%;
    }

    @include desktop {
        margin: 0px 0 0 5%;
        width: 28%;
        order: 2;
    }

}

.search_icon {
    width: 19px;
    height: 19px;
    margin: 0 0 0 20px;

}

.search_input {
    outline: 0 !important;
    border: none;
    width: 103px;
    height: 28px;
    color: #22252e;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    margin: 2px 0px 0 17px;
}

// Search_block end

// Recent_posts start



.recent_posts-title {
    @include roboto-light-shark-32px;
    margin: 7px 0 15px 0;
}

.recent_post-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EBECED;
    border-width: 80%;
    padding-top: 30px;
    padding-bottom: 60px;
    @include desktop {
        flex-direction: row;
    }
}

.recent_post-wrapper1 {
    display: flex;
    flex-direction: column;
    @include tabletUp {
        flex-direction: row;
    }

}

.recent_post-wrapper2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: start;
    height: 100%;
    width: 100%;
    @include desktop {
        width: 58%;
        margin: 0px 0px 0 41px;
    }
}

.recent_post-image {
    @include desktop {
        width: 280px;
        height: 180px;
    }
}

.recent_post-post {
    @include roboto-light-shark-24px;
    line-height: 34px;
    margin: 0px 0 12px 0;
}

.recent_post-data_author-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 0 13px 0;
}

.recent_post-author {
    @include roboto-medium-tuna-14px;
}

.recent_post-data {
    @include roboto-normal-oslo-gray-14px;
}

.recent_post-title {
    @include roboto-normal-apple-12px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0 0 18px 0;
}

.recent_post-comment_counter-wrapper {
    display: flex;
}

.recent_post-comment {
    background-image: url(../img/icons/comment.svg);
    display: block;
    width: 12px;
    height: 12px;
}

.recent_post-counter_comments {
    @include roboto-normal-oslo-gray-14px;
    margin: 0px 0px 0px 7px;
}


// Button Older_Post start

.older_posts-button {
    display: flex;
    justify-content: center;
    align-items: center;
    @include roboto-medium-apple-14px;
    text-transform: uppercase;
    border: 1px solid #4CB649;
    border-radius: 30px;
    height: 40px;
    width: 260px;
    letter-spacing: 0.8px;
    margin: 0 auto;
}

.older_posts-button:hover,
.older_posts-button:focus {
    background: $apple;
    color: white;
}

// Button Older_Post end

// Recent posts end


// Side_nav_blog start


.side_nav_announcements {
    border-bottom: 1px solid #EBECED;
    padding: 40px 0 30px 0;
    width: 50%;
    margin: auto;
    width: 100%;
}

.side_nav_blog-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    order: 3;
}

.side_nav_popular_post {
    margin: 70px 0 0 7px;
}

.side_nav-header_announcements-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.announcements-side_nav_header {
    @include roboto-light-shark-24px;
    margin: -4px 0 0 20px;
}

.announcements-ul {
    @include roboto-normal-tuna-14px;
    display: flex;
    line-height: 22px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 195px;
    margin: 21px 0px 0 6px;

    @include phoneDown {
        width: 100%;
    }

    @include tabletUp {
        width: 307px;
    }

    li {
        display: flex;
        flex-direction: row;
    }

    li>div {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #4CB649;
        align-items: center;
        justify-content: center;
        margin: 0 5px 0 -6px;
    }
}

.popular_post-side_nav_header {
    margin: 0 0 0 0;
    margin: -2px 0 0 30px;
}

.popular_post-ul {
    margin: 31px 0 0 -1px;
    height: 263px;

    @include phoneDown {
        width: 100%;
    }

    @include tabletUp {
        width: 326px;
    }
}

.popular_post-line {
    margin: 9px 0 0 0;
}

.add_sidebar {
    @include phoneDown {
        display: flex;
        margin: 30px auto;
        width: 80%;
        height: 80%;
    }

    @include tabletOnly {
        margin: 40px 0 0 0;
        width: 96%;
        height: 85%;
    }

    @include desktop {
        margin: 35px 0 0 0;
        width: 340px;
        height: 453px;
    }
}

.tag_cloud-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
    height: 80%;
    margin: 0 auto;

    @include desktop {
        width: 50%;
        margin: 40px 0 0 0;
    }
}

.tag_cloud {
    @include roboto-light-shark-24px;

    @include phoneDown {
        margin: 0;
    }

    @include tabletOnly {
        margin: 0;
    }

    @include desktop {
        margin: 57px 0 0 0;
    }
}

.tag_cloud-img {
    display: flex;

    @include phoneDown {
        width: 80%;
        height: 80%;
    }

    @include tabletOnly {
        margin: 4px 0 0 -15px;
        width: 90%;
        height: 85%;
    }

    @include desktop {
        margin: 18px 39px 0px -12px;
        height: 309px;
    }

}

// Side_nav_blog end